doctype html
html
	head
		title= title
		//- bower:css
		//- endinject

		//- inject:css
		//- endinject
	body
		block content
        script(src='/socket.io/socket.io.js')
		//- bower:js
		//- endinject

		//- inject:js
		//- endinject